<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=key" />

<nav class="mainNav">

  <div style="color: black;" class="mainNav__logo">CipherVault <span class="material-symbols-outlined"  >
      key
    </span></div>

  <div class="mainNav__links">

    <a href="#" class="mainNav__link">Help</a>
    <a href="/login" class="mainNav__link">Login</a>
    <a href="/register" class="mainNav__link">Register</a>


  </div>

</nav>