* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-decoration:none;
  color:inherit;
  list-style:none;
}

body {
  font-family:"Lugrasimo", cursive;
  background:#ffffff;
}

.mainNav__logo .material-symbols-outlined {
  font-size: 48px;
  vertical-align: middle; 
}

.about {
  position:fixed;
  bottom:10px;
  right:10px;
  width:40px;
  height:40px;
  z-index:10;
}

.about .bg_links {
  width:40px;
  height:40px;
  border-radius:50%;
  background:rgba(255,255,255,0.9);
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
}

.about .logo {
  background-image:url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
  background-size:50%;
  background-repeat:no-repeat;
  background-position:center;
}

.about .social {
  position:absolute;
  opacity:0;
}

.about:hover {
  width:105px;
  height:105px;
}

.about:hover .social {
  opacity:1;
}


/* NAV */

.mainNav {
  z-index: 10;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:80px;

  display:flex;
  align-items:center;
  padding:0 40px;

  backdrop-filter:blur(4px);
  background:rgba(255,255,255,0.15);
  border-bottom:1px solid rgba(255,255,255,0.3);
}

.mainNav__logo {
  font-size:40px;
  font-weight:bold;
  color:black;
}

.mainNav__links {
  display:flex;
  margin-left:auto;   
}

.mainNav__link {
  margin-left:20px;
  font-size:25px;
  font-weight:600;

  padding:2px 4px;
  box-shadow: inset 0 -10px rgba(255,255,255,0.5);
  transition:0.3s;
}

.mainNav__link:hover {
  transform:translateY(-5px);
  box-shadow: inset 0 -20px white;
}


/* Main Content */

.mainHeading {
  min-height:100vh;
  background:linear-gradient(to top,#accbee 0%,#e7f0fd 100%);
  position:relative;
  overflow:hidden;
}

.mainHeading__content {
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 40px;
  position:relative;
}

.mainHeading__text {
  z-index:2;
  max-width:560px;
  padding:40px;

   background: linear-gradient(
    135deg,
    rgba(255,255,255,0.55),
    rgba(255,255,255,0.15)
  );
  background:rgba(255,255,255,0.4);
  backdrop-filter:blur(7px);
  
  border: 1px solid rgba(255,255,255,0.4);
  border-radius:20px;
}

.mainHeading__title {
  font-size:30px;
  font-weight:bold;
  margin-bottom:20px;
  color:black;
}

.mainHeading__description {
  font-size:23px;
  line-height:30px;
  font-weight:bold;
}


.mainHeading__image {
  position:absolute;
  inset:0;
  z-index:0;
}

.mainHeading__image img {
  width:100%;
  height:100%;
  object-fit:cover;
  opacity:1;
}


/* cta */

.cta {
  margin-top:32px;
  padding:16px 32px;

  background:#6c63ff;
  color:white;

  letter-spacing:2px;
  font-weight:bold;

  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.cta:hover {
  transform:translateY(-5px);
}


/* Responsiveness */

@media (max-width:799px){

  .mainHeading__content {
    flex-direction:column;
    justify-content:center;
  }

  .mainNav__links {
    display:none;
  }

}


.card {
  z-index: 3;
  width: 40%;
  margin-right: 5%;
  padding: 20px;

  border-radius: 16px;

  background:
    linear-gradient(
      135deg,
      rgba(255,255,255,0.45),
      rgba(255,255,255,0.1)
    );
    font-weight: bold;

  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.3);
}

.card h2 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;
  color: whitesmoke;
  font-weight: bolder;
}


/* Form */

label {
  font-size: 30px;
  margin-bottom: 10px;
  display: block;
  color: #111;
}

input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 25px;
  font-size: 30px;

  border-radius: 8px;
  border: 2px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;

  font-size: 20px;
  font-weight: bold;

  background: #6c63ff;
  color: white;

  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.register-text {
  margin-top: 18px;
  text-align: center;
  font-size: 18px;
}

.register-text a {
  text-decoration: underline;
  color: white;

}
